%h3 New vástag@
= form_tag '/tuits', :html => {:name => "tuit_form", :id => "tuit-form", :class => "update-form"} do |f|
  %h4 What's gone out?
  #tuit-content
    %input#tuit-piido{:name => "piido"}=@tuit_piido
  #tuit-info
    %input#tuit-button.button{:type => "submit", :value => "Share"}

